* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: #141313;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hero {
    text-align: center;
  }
  
  .announcement {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .announcement-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #211f1f;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .announcement-link:hover {
    background-color: #555;
  }
  
  .announcement-text {
    margin-right: 0.5rem;
  }
  
  .announcement-button {
    width: 16px;
    height: 19px;
  }
  
  .hero-content {
    margin-top: 2rem;
  }
  
  .hero-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #ccc;
    line-height: 73px;
  }
  
  .hero-description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #ccc;
  }

  /* svg {
    display: flex;
    align-items: center;
    line-height: 16px;
  }
   */
  .cta-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 640px) {
    .hero {
      padding: 1rem;
    }
  
    .announcement-link {
      font-size: 0.75rem;
    }
  
    .hero-content {
      padding: 0 1rem;
    }
  }
  